<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <% include partials/nav %>
        <div class="section">
            <div class="container">
                <%= question.sentence %>
                <br/>
                <br/>
                <% question.blanks.forEach(function(blank) { %>
                <%= blank.index +  ' ' + blank['answer.particle'] %><br/>
                <% }) %>
            </div>
        </div>
    </body>
</html>

