<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <% include partials/nav %>
        <div class="section">
            <div class="container">
                <h1 class="title">What is this?</h1>
                <h2 class="subtitle">
                    A site for practicing grammar on random english sentences from the internet.
                </h2>
                <div class="container has-text-centered">
                    <a class="button is-primary is-large is-flex-touch" href="/quizzes">
                        Quizzes
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
