<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body class="is-fullheight">
        <% include partials/nav %>
        <div class="section">
            <div class="container">
                <h1 class="title">What is this?</h1>
                <h2 class="subtitle">
                    A site for practising grammar on random english sentences from the internet.
                </h2>
            </div>
        </div>
    </body>
</html>
