<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <body>
        <% include partials/nav %>
        <div class="section">
            <div class="container">
                <h1 class="title">Quizzes</h1>
                <div class="columns">
                    <% quizList.forEach(function (column) { %>
                    <div class="column">
                        <% column.forEach(function (quiz) { %>
                        <a class="button is-quiz-button is-info is-large is-fullwidth"
                            href="/quizzes/fillintheblank?<%= quiz.params %>">
                            <%= quiz.name %>
                        </a>
                        <% }) %>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </body>
</html>
