/* Bulma overrides */
@import "../../node_modules/bulma/bulma.sass";
/*******************/

/* Variables */
/*************/

a.is-quiz-button {
    height: 6em;

    & + a.is-quiz-button {
        margin-top: 1em;
    }
}

.word {
    font-size: 2em;
    line-height: 2em;

    &.word--blank {
        font-size: 1.25em;
        line-height: 2.5em;
    }
}

.word.word--blank + .word {
    margin-left: 0.1em;
}
