/* Bulma overrides */
$primary: red;
/*******************/

a.is-quiz-button {
    height: 6em;

    & + a.is-quiz-button {
        margin-top: 1em;
    }
}

@import "../../node_modules/bulma/bulma.sass";
