<!-- views/partials/head.ejs -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'">

    <title>English Grammar Quiz Site</title>
    <!-- <meta name="application-name" content="English Grammar Quiz Site"> -->
    <meta name="description" content="A site with english grammar quizes.">

    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
