<nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title">English Quiz Site</h1>
        </a>
        <a id="navbar-burger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item is-white" href="/quizzes">
                Quizzes
            </a>
        </div>
        <div class="navbar-end">
            <% if (typeof user !== 'undefined' && user) { %>
            <a class="navbar-item is-white">
                <%= user.username %>
            <a>
            <a class="navbar-item is-white" href="/user/logout">
                Logout
            </a>
            <% } else { %>
            <a class="navbar-item is-white" href="/user/login">
                Login
            </a>
            <a class="navbar-item is-white" href="/user/register">
                Register
            </a>
            <% } %>
        </div>
    </div>
</nav>

<script src="/js/nav.js"></script>
